{% from "dialog.html" import dialog %}

<!-- refactor dialog here to not target #table when creating from the empty state -->
{% call dialog(title, action_url, method='POST', form_hx_post=action_url, form_hx_target=form_hx_target, form_hx_swap=form_hx_swap) %}
  <div class="field label border">
    <input type="text" id="name" name="name" value="{{ owner.name if owner else '' }}" required>
    <label for="name">Name</label>
  </div>
  <div class="field label border">
    <input type="text" id="emails" name="emails" value="{{ owner.emails | map(attribute='email') | join(', ') if owner and owner.emails else '' }}">
    <label for="emails">Emails (comma-separated)</label>
  </div>
  <div class="field label border">
    <input type="text" id="lot_number" name="lot_number" value="{{ owner.lot_number if owner else '' }}" required>
    <label for="lot_number">Lot Number</label>
  </div>
  <div class="field label border">
    <input type="number" id="share" name="share" value="{{ owner.share if owner else '' }}" required>
    <label for="share">Share</label>
  </div>
{% endcall %}
