{% extends "base.html" %}
{% from "owner_dialog.html" import owner_dialog %}

{% block title %}Owners List{% endblock %}

{% block body_content %}
    <button class="extend circle right-round top-round no-margin"
        data-ui="dialog"
        hx-get="{{ url_for('owner.dialog_fragment') }}?mode=add"
        hx-target="#dialog"
        hx-swap="innerHTML">
            <i>person_add</i>
            <span>Add an owner</span>
    </button>

    <div    id="owners-table"
            class="top-margin"
            hx-get="{{ url_for('owner.table_fragment') }}"
            hx-trigger="load"
            hx-swap="innerHTML">
        <!-- table loads here via HTMX -->
    </div>

{% endblock %}
