{% macro dialog(title, action_url, method='POST', form_hx_post=None, form_hx_target=None, form_hx_swap=None) -%}
<h5 class="bottom-margin">{{ title }}</h5>

<form method="{{ method }}" action="{{ action_url }}"
      {% if form_hx_post %}hx-post="{{ form_hx_post }}"{% endif %}
      {% if form_hx_target %}hx-target="{{ form_hx_target }}"{% endif %}
      {% if form_hx_swap %}hx-swap="{{ form_hx_swap }}"{% endif %}>
  {{ caller() }}
  <div class="row right-align">
    <button type="button" class="button transparent" data-ui="dialog">Cancel</button>
    <button type="submit" class="button primary">Save</button>
  </div>
</form>
{%- endmacro %}
