{# templates/components/dialog.html #}
{% from "dialog.html" import dialog %}

{%- set is_common = (charge is none) or (charge.type == 'common') -%}
{% call dialog(title, action_url, method='POST', form_hx_post=action_url, form_hx_target='#charges-table', form_hx_swap='innerHTML') %}
  <input type="hidden" name="source" value="{{ source or 'charges_page' }}">
  <div class="field label border">
    <input type="text" id="description" name="description"
           value="{{ charge.description if charge else '' }}" required>
    <label for="description">Description</label>
  </div>

  <div class="field label border">
    <input type="number" id="total_amount" name="total_amount" step="0.01"
           value="{{ charge.total_amount if charge else '' }}" required>
    <label for="total_amount">Total Amount</label>
  </div>

  <div class="field label prefix border">
    <i>today</i>
    <input type="date" id="voting_date" name="voting_date" value="{{ charge.voting_date.strftime('%Y-%m-%d') if charge and charge.voting_date else '' }}" required>
    <label for="voting_date">Voting Date</label>
  </div>

  {% include 'partials/_charge_type_selector.html' %}
{% endcall %}
