{% extends "base.html" %}

{% block title %}Charges List{% endblock %}

{% block body_content %}
  {% if has_charges %}
    {% include 'partials/charges_main_content.html' %}
  {% else %}
    {% set icon = 'assignment_late' %}
    {% set title = 'No charges found' %}
    {% set message = 'There are no charges yet.' %}
    {% set actions_html %}
        <button data-ui="dialog" hx-get="{{ url_for('charges.dialog_fragment') }}?mode=add&target=charge_page" hx-target="#dialog" hx-swap="innerHTML">
            <i>assignment_add</i>
            <span>Add a charge</span>
        </button>
    {% endset %}
    {% include 'partials/_empty_state.html' %}
  {% endif %}
{% endblock %}
