<tr id="repartition-row-{{ detail.repartition.owner_id }}">
    <td>{{ detail.repartition.owner.name }}</td>
    <td>
        {% if detail.repartition.owner.emails %}
            {{ detail.repartition.owner.emails | map(attribute='email') | join(', ') }}
        {% else %}
            No emails
        {% endif %}
    </td>
    <td>{{ detail.repartition.owner.lot_number }}</td>
    <td class="right-align">{{ detail.repartition.owner.share }}</td>
    <td class="right-align right-padding">{{ "%.2f" | format(detail.amount) }}</td>
    <td>
        {% set status = detail.repartition.status %}
        {% if status == 'Paid' %}
            <div class="chip green" data-ui="#tooltip-paid-{{ detail.repartition.owner_id }}">
                Paid
            </div>
            <div id="tooltip-paid-{{ detail.repartition.owner_id }}" class="tooltip top">
                Paid on {{ detail.repartition.paid_date.strftime('%Y-%m-%d %H:%M') }}
            </div>
        {% elif status == 'Sent' %}
            <div class="chip orange" data-ui="#tooltip-sent-{{ detail.repartition.owner_id }}">
                Sent
            </div>
            <div id="tooltip-sent-{{ detail.repartition.owner_id }}" class="tooltip top">
                Sent on {{ detail.repartition.email_sent_date.strftime('%Y-%m-%d %H:%M') }}
            </div>
        {% else %}
            <div class="chip">Draft</div>
        {% endif %}
    </td>
    <td class="left-padding" style="width: 1%">
        <nav class="group">
            {% if detail.repartition.owner.emails %}
                <button hx-post="{{ url_for('charges.send_repartition_email', charge_id=charge.id, owner_id=detail.repartition.owner_id) }}" 
                        class="small circle fill"
                        hx-target="#repartition-row-{{ detail.repartition.owner_id }}"
                        hx-swap="outerHTML">
                    <i>email</i>
                </button>
            {% endif %}

            {% if detail.repartition.status != 'Paid' %}
            <button hx-post="{{ url_for('charges.mark_as_paid', charge_id=charge.id, owner_id=detail.repartition.owner_id) }}" 
                    class="small circle fill"
                    hx-target="#repartition-row-{{ detail.repartition.owner_id }}"
                    hx-swap="outerHTML">
                <i>attach_money</i>
            </button>
            {% endif %}
        </nav>
    </td>
</tr>
