<tr id="repartition-row-{{ installment.id }}">
    <td>{{ installment.charge_repartition.owner.name }}</td>
    <td>
        {% if installment.charge_repartition.owner.emails %}
            {{ installment.charge_repartition.owner.emails | map(attribute='email') | join(', ') }}
        {% else %}
            No emails
        {% endif %}
    </td>
    <td>
        {% set status_styles = {
            'Paid': {'class': 'secondary', 'text': 'Paid'},
            'Sent': {'class': 'tertiary', 'text': 'Sent'},
            'Draft': {'class': 'grey', 'text': 'Draft'}
        } %}
        {% set style = status_styles.get(installment.status, {'class': 'grey', 'text': 'Unknown'}) %}
        <div class="row" style="gap: 0.5rem;">
            <div class="badge none min {{ style.class }}"></div>
            <span class="{{ style.class }}-text semi-bold">{{ style.text }}</span>
        </div>
    </td>
    <td>{{ installment.charge_repartition.owner.lot_number }}</td>
    <td class="right-align">{{ installment.charge_repartition.owner.share }}</td>
    <td class="right-align right-padding">{{ "%.2f" | format(installment.amount) }}</td>
    <td class="left-padding" style="width: 1%">
        <nav class="group">
            {% if installment.charge_repartition.owner.emails and installment.status != 'Paid' %}
            <button id="email-btn-{{ installment.id }}"
                    hx-post="{{ url_for('charges.send_repartition_email', installment_id=installment.id) }}"
                    hx-target="#repartition-row-{{ installment.id }}"
                    hx-swap="outerHTML"
                    class="small circle {{ 'fill' if installment.status == 'Draft' else 'border' }}">
                <div><i class="email-label">email</i></div>
                <div class="shape loading-indicator max" aria-hidden="true"></div>
            </button>
            {% endif %}

            <button hx-post="{{ url_for('charges.mark_as_paid', installment_id=installment.id) }}" 
                    class="small circle {{ 'hidden' if installment.status == 'Paid'
                                            else 'border' if installment.status == 'Draft'
                                            else 'fill' }}"
                    hx-target="#repartition-row-{{ installment.id }}"
                    hx-swap="outerHTML">
                <i>attach_money</i>
            </button>
        </nav>
    </td>
</tr>
