<input type="hidden" name="charge_type" value="common">
<div class="field label border">
  <input type="number" id="year" name="year"
         value="{{ charge.year if charge }}" required>
  <label for="year">Year</label>
</div>

<div class="field label prefix border">
  <i>today</i>
  <input type="date" id="voting_date" name="voting_date" value="{{ charge.voting_date.strftime('%Y-%m-%d') if charge and charge.voting_date else '' }}" required>
  <label for="voting_date">Voting Date</label>
</div>