<input type="hidden" name="charge_type" value="extraordinary">
<div class="field label border">
  <input type="text" id="purpose" name="purpose"
         value="{{ charge.purpose if charge else '' }}" required>
  <label for="purpose">Purpose</label>
</div>

<div class="field label prefix border">
  <i>today</i>
  <input type="date" id="voting_date" name="voting_date" value="{{ charge.voting_date.strftime('%Y-%m-%d') if charge and charge.voting_date else '' }}">
  <label for="voting_date">Voting Date (Optional)</label>
</div>

{% if lce_list %}
<div class="field label suffix border">
  <select id="limited_common_element_id" name="limited_common_element_id"
          {% if charge and charge.repartitions %}disabled{% endif %}>
    <option value="" {% if not charge or not charge.limited_common_element_id %}selected{% endif %}>General common elements</option>
    {% for lce in lce_list %}
    <option value="{{ lce.id }}" {% if charge and charge.limited_common_element_id == lce.id %}selected{% endif %}>{{ lce.name }}</option>
    {% endfor %}
  </select>
  <label for="limited_common_element_id">Applies to</label>
  <i>arrow_drop_down</i>
</div>
{% endif %}
